body {
    color: rgb(180, 95, 95);
    background-color: rgb(247, 213, 213);
    margin: 0px;
    font-family: "Libertinus Serif Display", sans-serif
}

header {
    border-bottom: solid 2px rgb(255, 255, 255);
    padding: 20px;
    font-size: 32px;
    color: rgb(163, 105, 105);
}

section {
    background: rgb(223, 201, 212);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}
.chamada{
    background-color: antiquewhite;
    padding-bottom: 80px;
    padding-top: 80px;
    display:flex;
    justify-content: center;
}

.chamada-texto {
    margin-right: 5%;
}
h1{
    font-size: 40px;
}
p{
    font-size: 20px;
}
.categoria-videos {
     display: flex;
    overflow-x: auto;
    gap: 10px;
}
.categotia{
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 50px;
}
.categorias-videos img{
    opacity:0.5;
    height:200px;
}
.categoria-videos img:hover{
    opacity:1.0;
    border: 1px solid black;
}
categoria h2{
    color: white;
}
