body{
    color:rgb(180, 95, 95);
    background-color: rgb(247, 213, 213);
    margin: 0px;
    font-family:"Libertinus Serif Display", sans-serif
}

header{
    border-bottom: solid 2px rgb(255, 255, 255);
    padding: 20px;
    font-size: 32px;
    color: rgb(163, 105, 105);
}

section{
    background: rgb(223, 201, 212);
padding-bottom: 80px;
padding-top: 80px;
display: flex;
justify-content: center;
}

.chamada-texto{
    margin-right: 5%;
}